input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    width: 30%;
    border-radius: 5px;
    background-color: #DCDCDC;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px transparent;
    background-color: transparent;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: gray;
}

li a.active {
    color: white;
    background-color: #09631B;
}

html, body{
  width: 100%;
  height: 100%;
  min-width:100%;
  min-height:100%;
  background-image:url("images/nature.jpg")
}

h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}

h3 {
  color: white;
  text-align: left;
  font-size: 20px;
}
